# dependencies
/node_modules

# Next.js
/.next
/out

# production artifacts
/standalone

# local environment files
.env
.env.local
.env.*.local
!.env.example

# tooling
.DS_Store
*.tsbuildinfo
coverage/
